big_brother.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:annotation>
    <xs:documentation xml:lang="en">
    Plugin Scheduling Schema for the CIS-3760 Data Sources 1.1 Protoype.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="record" >
      <xs:complexType>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element name="upload" type="xs:decimal"/>
          <xs:element name="download" type="xs:decimal"/>
          <xs:element name="time" type="xs:dateTime"/>
        </xs:sequence>
      </xs:complexType>
  </xs:element>
      
</xs:schema>
